code/__pycache__/*
code/jl_pkl/sms_log_1.txt
code/jl_pkl/sms_log_1.txt
code/jl_pkl/sms_pickle_L.pkl
code/jl_pkl/sms_pickle_T.pkl
code/jl_pkl/sms_pickle_U.pkl
code/jl_pkl/sms_pickle_V.pkl
data/models/0_dtc.pkl
data/models/0_lr.pkl
data/models/0_rf.pkl
data/models/0_svm.pkl
data/models/1_dtc.pkl
data/models/1_lr.pkl
data/models/1_rf.pkl
data/models/1_svm.pkl
code/jl_pkl/sms_log_1.txt
code/jl_pkl/sms_log_1.txt
code/jl_pkl/sms_log_1.txt
code/jl_pkl/sms_pickle_L.pkl
code/jl_pkl/sms_pickle_T.pkl
code/jl_pkl/sms_pickle_U.pkl
code/jl_pkl/sms_pickle_V.pkl
data/models/0_dtc.pkl
data/models/0_lr.pkl
data/models/0_rf.pkl
data/models/0_svm.pkl
data/models/1_dtc.pkl
data/models/1_lr.pkl
data/models/1_rf.pkl
data/models/1_svm.pkl
code/jl_pkl/sms_log_1.txt
code/jl_pkl/sms_pickle_L.pkl
code/jl_pkl/sms_pickle_T.pkl
code/jl_pkl/sms_pickle_U.pkl
code/jl_pkl/sms_pickle_V.pkl
data/models/0_dtc.pkl
data/models/0_lr.pkl
data/models/0_rf.pkl
data/models/0_svm.pkl
data/models/1_dtc.pkl
data/models/1_lr.pkl
data/models/1_rf.pkl
data/models/1_svm.pkl
